@font-face {
    font-family: 'FigTree';
    src: url('fonts/FigTree-VariableFont_wght.ttf') format("truetype");
}

:root {
    font-size: 16px;
    --var-yellow: hsl(47, 88%, 63%);
    --var-gray-950: #111111;
    --var-gray-500: #6B6B6B;
    --var-button-text-size: 0.875rem;
    --var-desc-text-size: 1rem;
    --var-header-text-size: 1.5rem;
    --var-line-height: 1.5;
    --var-letter-spacing: 0;
    --var-font-weight-bold: 800;
    --var-font-weight-regular: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--var-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FigTree;
    min-height: 100vh;
    max-width: 100vw;
    line-height: var(--var-line-height);
    letter-spacing: var(--var-letter-spacing);
}

main {
    max-width: 100%
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 0.875rem;
}

h2 {
    font-size: var(--var-header-text-size);
    font-weight: var(--var-font-weight-bold);
    
    :hover, 
    :active, 
    :focus, 
    :invalid {
        color: var(--var-yellow);
    }
}

h4 {
    font-size: 0.875rem;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 23.3125rem;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px #000000;

    & > * {
        margin-block-end: 1.5rem;
        margin-inline-end: auto;
    }

    :last-child {
        margin-block-end: 0rem;
    }
}

.preview {
    img {
        border-radius: 0.625rem;
        max-height: 12.5rem;
        width: 100%;
    }
}

.content {
    & > * {
        margin-block-end: 0.75rem;
        margin-inline-end: auto;
    }

    :last-child {
        margin-block-end: 0rem;
    }
}

.topic {
    background-color: var(--var-yellow);  
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-radius: 0.25rem;
    width: fit-content;

    p {
        font-weight: var(--var-font-weight-bold);
    }
}

.description {
    p {
        color: var(--var-gray-500);
        font-size: 1rem;
    }
}

.author  {
    display: flex;
    align-items: center;

    img {
        width: 2rem;
        height: 2rem;
        margin-inline-end: 0.75rem;
    }
}