@font-face {
    font-family: 'FigTree';
    src: url('fonts/FigTree-VariableFont_wght.ttf') format("truetype");
}

:root {
    font-size: 16px;
    --var-background-color: hsl(47, 88%, 63%);
    --var-header-color: #111111;
    --var-text-color: #6B6B6B;
    --var-button-text-size: 0.875rem;
    --var-desc-text-size: 1rem;
    --var-header-text-size: 1.5rem;
    --var-line-height: 1.5;
    --var-letter-spacing: 0;
    --var-font-weight-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--var-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FigTree;
    min-height: 100vh;
    padding-inline: 1.5rem;
}

img {
    border-radius: 0.625rem;
    max-height: 12.5rem;
}

h2 {
    font-size: var(--var-header-text-size);
}

h3 {
    background-color: var(--var-background-color);
    font-size: var(--var-button-text-size);
    line-height: var(--var-line-height);
    letter-spacing: var(--var-letter-spacing);
}

h4 {
    font-size: var(--var-button-text-size);
}

p {
    font-size: var(--var-desc-text-size);
    color: var(--var-text-color);
}

.card-container {
    max-width: 100%;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px #000000;

    & > * {
        margin-block-end: 1.5rem;
    }

    :last-child {
        margin-block-end: 0rem;
    }
}

.text-container {
    & > * {
        margin-block-end: 0.75rem;
        margin-inline-end: auto;
    }

    :last-child {
        margin-block-end: 0rem;
    }
}

.card-header {
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-radius: 0.25rem;
    width: fit-content;
}

.card-link {
    :hover, 
    :active, 
    :focus, 
    :invalid {
        color: var(--var-background-color);
    }

    a {
        text-decoration: none;
    }
}

.author-container {
    display: flex;
    align-items: center;
}

.author-icon {
    width: 2rem;
    height: 2rem;
    margin-inline-end: 0.75rem;
}
.author-name{
    font-size: var(--var-button-text-size);
    font-weight: var(--var-font-weight-bold);
}